@model FullCalendar_MVC.Models.Profissional

@{
    ViewBag.Title = "Delete";
}
<h3 style="text-align: center">Deseja excluir este Profissional? </h3>
<div class="row">
    <div class="form-group col-md-6 col-md-offset-3">
    <hr/>
    <dl class="dl-horizontal col-md-offset-2">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-md-offset-5">
            <input type="submit" value="Excluir" class="btn btn-default"/> 
        </div>
    }
        </div>
</div>
