@model FullCalendar_MVC.Models.Convenio

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="col-md-offset-6">Excluir</h2>

<h3>Tem certeza que deseja excluir</h3>
<div class="col-md-offset-4">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-md-offset-2" style="padding-left:5px;">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
